#titre-infog {
margin-bottom:0.5em;
}
#nom-elu { 
background-color:#ececec;
}
#nom-elu h2 {
font-family: 'Trebuchet MS';
margin-bottom:0.5em;
padding-left:0.2em;
background-color:#60bbd9;
color:#fefefe;
}
.infobulle {
font-family: 'Arial';
padding-left:0.2em;
font-size:1.3em;
line-height:1.5em;
font-weight:300;
}
.note { font-size:1em; padding-left:0.2em;}
.hidden  {
display:none;
}
#map { 
margin:auto;
text-align:center;
}
#map svg { align:middle;}